.nav-container{
    height: 50px;
    /* width: auto; */
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 2px;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(126, 126, 96);
    font-weight: 600;
    color: white;
    cursor: pointer;
}